.User-Coupon scroller,
.User-Coupon scroll-view[scroll-type="div"],
.User-Coupon scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 90px;
}
.User-Coupon.immersion scroller,
.User-Coupon.immersion scroll-view[scroll-type="div"],
.User-Coupon.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 105px;
}
.User-Coupon top-bar {
  top: 50px;
}
.User-Coupon.immersion top-bar {
  top: 65px;
}
.User-Coupon .tabs {
  margin-bottom: 40px;
}
.User-Coupon .tabs li {
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: #fff;
  font-size: 16px;
  display: block;
  border: 1px solid #eeeeee;
  border-left: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  color: #777777;
  cursor: pointer;
  /*a {
                text-decoration: none;*/
}
.User-Coupon .tabs li:first-child {
  border-left: 1px solid #e5e5e5;
}
.User-Coupon .tabs li.active {
  color: #BF0705;
  font-weight: bold;
}
.User-Coupon hr {
  margin-top: 0px;
  margin-bottom: 0px;
  /*margin: 0;*/
  height: 6px;
  background-color: #eeeeee;
}
.User-Coupon hr:first-child,
.User-Coupon hr:last-child {
  height: 12px;
}
.User-Coupon .coupon {
  padding: 10px 0px 10px 0px;
}
.User-Coupon .norecords .icon i {
  top: 33px;
  font-size: 100px;
}
