.User-Favors scroller,
.User-Favors scroll-view[scroll-type="div"],
.User-Favors scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 50px;
}
.User-Favors.immersion scroller,
.User-Favors.immersion scroll-view[scroll-type="div"],
.User-Favors.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 65px;
}
.User-Favors.norecords {
  text-align: center;
  padding-top: 40px;
  width: 100%;
}
.User-Favors .page-pulldown {
  height: 50px;
  width: 100%;
}
.User-Favors .page-content {
  /*margin-top: 0 - @header-height;*/
  padding-top: 50px;
}
.User-Favors .item img {
  width: 80px;
  height: 80px;
}
.User-Favors .item .name {
  margin-left: 100px;
  min-height: 60px;
}
.User-Favors .item a {
  position: relative;
  bottom: 10px;
  border: 1px solid #BF0705;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  color: #BF0705;
}
.User-Favors .item label {
  position: relative;
  bottom: 4px;
}
.User-Favors .container {
  padding-top: 10px;
}
.User-Favors hr {
  margin-top: 0px;
  margin-bottom: 10px;
}
