/.tscache
/.git
/node_modules
/www
/platforms/android/assets/www
/platforms/ios/www
/platforms/browser/www
.baseDir.ts
/platforms/ios/**/*.xcuserdata
/platforms/ios/**/*.xcuserstate
/platforms/android/.idea/vcs.xml