top-bar {
  position: absolute;
  z-index: 120;
  width: 100%;
}
bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 120;
}
page-loading {
  height: 100%;
  width: 100%;
  text-align: center;
}
scroll-view[scroll-type='iscroll'] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
scroll-view[scroll-type='iscroll'] scroller {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 80;
  background-color: white;
}
scroll-view[scroll-type="div"] {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  z-index: 100;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
.page-container {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
  text-align: left;
}
.page-container .page-loading {
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: center;
  z-index: 110;
  background-color: white;
}
.page-container .spin {
  padding-top: 150px;
}
.page-container .spin .icon-spinner {
  color: #BF0705;
  font-size: 140px;
}
/*---------------------------------*/
/* DIV Fixed 样式*/
.page-node.div .page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
  margin: 0px;
  padding: 0;
  border-bottom: none;
}
.page-node.div .page-body {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  overflow-y: scroll;
  /*-webkit-overflow-scrolling: touch;*/
}
.page-node.div .page-loading {
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 100px;
  text-align: center;
}
.page-node.div .page-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 110;
}
/*---------------------------------*/
.page-node.doc {
  width: 100%;
  min-height: 100%;
}
.page-node.doc .page-body {
  min-height: 100%;
}
.page-node.doc .page-header {
  position: fixed;
  top: 0;
  z-index: 110;
}
.page-node.doc .page-loading {
  width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: center;
}
.page-node.doc .page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 110;
}
