.Shopping-OrderProducts .page-content {
  padding-top: 50px;
}
.Shopping-OrderProducts .text-primary {
  font-weight: bold;
}
.Shopping-OrderProducts h4 {
  /*font-weight: bold;*/
  /*color: @brand-primary;*/
}
.Shopping-OrderProducts .icon-chevron-right {
  font-size: 20px;
  position: relative;
  top: 4px;
}
.Shopping-OrderProducts .address .icon-chevron-right {
  position: relative;
  top: -30px;
  right: 0px;
}
.available-coupons .nav-tabs {
  background-color: #BF0705;
  color: white;
  height: 50px;
  font-size: 18px;
}
.available-coupons .modal-backdrop.in {
  /*opacity: @modal-backdrop-opacity;*/
}
.available-coupons .modal .modal-dialog {
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  width: 100%;
  margin: 0px;
  position: fixed;
}
.available-coupons .modal .modal-dialog .modal-content {
  border-radius: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  position: fixed;
  border: none;
}
.available-coupons .modal .modal-dialog .modal-content .modal-header {
  padding: 0px;
  background-color: white;
  opacity: 1;
}
.available-coupons .modal .modal-dialog .modal-content .modal-body {
  overflow: hidden;
}
