.Home-Product scroller,
.Home-Product scroll-view[scroll-type="div"],
.Home-Product scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 50px;
}
.Home-Product.immersion scroller,
.Home-Product.immersion scroll-view[scroll-type="div"],
.Home-Product.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 65px;
}
.Home-Product scroller,
.Home-Product scroll-view[scroll-type="div"],
.Home-Product scroll-view[scroll-type="iscroll"] scroller {
  padding-bottom: 50px;
}
.Home-Product .page-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.Home-Product .page-pullup {
  padding-bottom: 10px;
  padding-top: 10px;
}
.Home-Product [name="btn_shopping_cart"] {
  font-size: 28px;
  margin-bottom: 0px;
}
.Home-Product [name="btn_shopping_cart"] .badge {
  position: relative;
  top: -14px;
  left: -14px;
  background-color: #BF0705;
}
.Home-Product [name="bottom_bar"] {
  width: 100%;
  padding: 10px 10px 0px 10px;
  background-color: #eeeeee;
  height: 50px;
}
.Home-Product hr {
  border-top-width: 20px;
  margin: 0;
}
.Home-Product .comments {
  padding-bottom: 10px;
}
.Home-Product .comments img {
  margin-top: 10px;
}
.Home-Product .stars {
  color: #bf0705;
}
.Home-Product .active-tab {
  padding-bottom: 12px;
  border-bottom: 4px solid #333333;
}
.product-panel {
  position: fixed;
  z-index: 1050;
  background-color: white;
  right: 0px;
  bottom: 50px;
}
.product-panel .cust-prop {
  border: 1px solid #BF0705;
  margin-bottom: 8px;
  margin-right: 10px;
  border-radius: 4px;
  padding: 4px 20px 4px 20px;
  white-space: nowrap;
  background-color: white;
}
.product-panel .cust-prop.selected {
  background-color: #BF0705;
  color: white;
}
.product-panel .modal-content {
  border: none;
  box-shadow: none;
  padding: 0;
}
.product-panel .modal-content .modal-body {
  padding: 50px 0px 60px 0px;
}
.product-panel .modal-content .modal-header {
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0px;
  right: 0px;
  z-index: 1050;
}
.product-panel .modal-content .modal-footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: white;
  padding-bottom: 110px;
}
.product-panel .modal-dialog {
  background-color: white;
  margin: 0px;
  top: 0px;
  bottom: -100px;
  right: 0;
  position: fixed;
  border: none;
}
.product-panel .wrapper {
  top: 0px;
}
.product-panel .modal-backdrop.in {
  opacity: 0.5;
}
.product-panel .modal {
  bottom: -100px;
}
.product-panel nav {
  background-color: #BF0705;
  color: white;
  font-size: 18px;
  position: absolute;
  width: 100%;
  height: 50px;
}
.product-panel nav .nav-tabs {
  border-bottom: none;
  width: 100%;
  position: absolute;
}
.immersion .product-panel nav {
  height: 65px;
}
.immersion .product-panel nav .nav-tabs {
  top: 15px;
}
