@import "../../bootstrap-3.3.5/variables.less";
@import "../Common.less";

.Home-NewsList {

    .scrollViewTopPadding(@header-height);
    .scrollViewBottomPadding(@menu-height);

    .page-pulldown {
        width: 100%;
        height: @header-height;
    }

    .container {
        padding: 0px;
    }

    .item {
        margin-top: 30px;
        border-top: 1px solid @gray-lighter;
        border-bottom: 1px solid @gray-lighter;
        padding-bottom: 40px;

        &:first-child {
            margin-top: 15px;
        }

        .date {
            float: right;
            padding: 10px 12px 8px 0;
            display: none;
        }
    }

    .title {
        font-size: medium;
        float: left;
        padding: 10px 0 8px 12px;
    }
    
    img {
        width: 100%;
        height: auto;
    }
}
