.Home-Class {
  /*min-height: 100%;*/
}
.Home-Class scroller,
.Home-Class scroll-view[scroll-type="div"],
.Home-Class scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 50px;
}
.Home-Class.immersion scroller,
.Home-Class.immersion scroll-view[scroll-type="div"],
.Home-Class.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 65px;
}
.Home-Class scroller,
.Home-Class scroll-view[scroll-type="div"],
.Home-Class scroll-view[scroll-type="iscroll"] scroller {
  padding-bottom: 50px;
}
