.Home-ProductList top-bar {
  top: 50px;
}
.Home-ProductList.immersion top-bar {
  top: 65px;
}
.Home-ProductList scroller,
.Home-ProductList scroll-view[scroll-type="div"],
.Home-ProductList scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 90px;
}
.Home-ProductList.immersion scroller,
.Home-ProductList.immersion scroll-view[scroll-type="div"],
.Home-ProductList.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 105px;
}
.Home-ProductList .page-pulldown {
  width: 100%;
  height: 50px;
  z-index: 1000;
}
.Home-ProductList .products a {
  color: inherit;
  text-decoration: none;
}
.Home-ProductList .products .mini,
.Home-ProductList .products .small {
  width: 100%;
  text-align: left;
  margin: 0.1em 0 0 0;
}
.Home-ProductList .products .item {
  padding-top: 16px;
  padding-bottom: 10px;
}
.Home-ProductList .products .item:nth-child(2n+1) {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.Home-ProductList .products .item:nth-child(2n) {
  border-bottom: 1px solid #eeeeee;
}
.Home-ProductList .tabs li {
  width: 25%;
  float: left;
  text-align: center;
  background-color: #fff;
  font-size: 16px;
  display: block;
  border: 1px solid #eeeeee;
  border-left: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  color: #777777;
  cursor: pointer;
}
.Home-ProductList .tabs li:first-child {
  border-left: 1px solid #e5e5e5;
}
.Home-ProductList .tabs li a {
  text-decoration: none;
}
.Home-ProductList .tabs li a.active {
  color: #BF0705;
  font-weight: bold;
}
/*.Home-ProductList {

}*/
.product-filter .nav-tabs {
  background-color: #BF0705;
  color: white;
  height: 50px;
  font-size: 18px;
}
.product-filter .max-price {
  margin-left: 80px;
  padding-top: 40px;
}
.product-filter .min-price {
  margin-left: 80px;
  padding-top: 10px;
}
.product-filter .modal-backdrop.in {
  opacity: 0.5;
}
.product-filter .modal {
  /*z-index: @zindex-modal - 50;*/
}
.product-filter .modal .modal-dialog {
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  width: 100%;
  margin: 0px;
  position: fixed;
}
.product-filter .modal .modal-dialog .modal-content {
  border-radius: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  border: none;
  width: 100%;
}
.product-filter .modal .modal-dialog .modal-content .modal-header {
  padding: 0px;
}
.product-filter .container {
  right: 0;
}
