.Home-Search scroller,
.Home-Search scroll-view[scroll-type="div"],
.Home-Search scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 60px;
}
.Home-Search.immersion scroller,
.Home-Search.immersion scroll-view[scroll-type="div"],
.Home-Search.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 75px;
}
.Home-Search .search-icon {
  position: absolute;
  top: 14px;
  right: 88px;
  font-size: 20px;
  color: #98a0af;
}
.Home-Search .products {
  padding-left: 10px;
  padding-right: 10px;
}
.Home-Search .products .row .name {
  font-size: 16px;
  height: 46px;
  padding-top: 8px;
}
.Home-Search .products .row .price {
  font-size: 18px;
}
.Home-Search .search-panel h2 {
  margin: 0px;
}
.Home-Search .search-panel .keywords {
  padding-left: 10px;
  padding-right: 10px;
}
.Home-Search .search-panel .keywords hr {
  margin-top: 6px;
}
.Home-Search .search-panel hr {
  margin-top: 16px;
}
.Home-Search .search-panel .history h4 {
  color: #BF0705;
  font-weight: bold;
  margin: 0px;
  padding: 0px 10px 6px 10px;
}
.Home-Search .search-panel .history .word {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
}
.Home-Search .search-panel .history hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Home-Search .search-panel .history .button {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.Home-Search .norecords {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Home-Search .norecords i {
  top: 20px;
  font-size: 110px;
}
.Home-Search .norecords .text {
  padding-top: 10px;
  font-size: 16px;
}
