header {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 120;
  background-color: #BF0705;
}
header nav {
  padding: 4px 4px 0px 4px;
  top: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}
header nav h4 {
  font-size: 18px;
}
header nav .rightButton {
  position: absolute;
  font-size: 18px;
  top: 10px;
  right: 12px;
}
header nav .leftButton {
  position: absolute;
  font-size: 18px;
  top: 10px;
  left: 12px;
}
.immersion header {
  height: 65px;
}
.immersion header nav {
  top: 15px;
  position: fixed;
}
.Home-Index .logo {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 36px;
}
.Home-Index .search [name="search_input"] {
  position: absolute;
  top: 8px;
  left: 46px;
  right: 52px;
  bottom: 2px;
  width: auto;
  background-color: white;
  color: #777777;
  text-align: left;
}
.Home-Index .search-icon {
  position: absolute;
  top: 12px;
  right: 60px;
  font-size: 20px;
  color: #98a0af;
}
.Home-Class header [name="search_box"] {
  color: #777777;
  text-align: left;
}
.Home-Class .search {
  position: fixed;
  padding: 8px 10px 8px 10px;
  width: 100%;
}
.Home-Class .search-icon {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 20px;
  color: #98a0af;
}
.Home-Search .search {
  padding: 7px 80px 0px 40px;
  height: 50px;
}
.Home-Search .search [name="btn-back"] {
  position: relative;
  left: -28px;
  top: -30px;
  font-size: 20px;
  /* 扩大可点击区域，使其更易于点中 */
  padding-right: 16px;
  padding-left: 20px;
  margin-left: -20px;
  /*------------------------------*/
}
.Home-Search .search .btn {
  position: relative;
  right: -66px;
  top: -34px;
}
