.Shopping-ShoppingCart {
  /*.pull-left {
        padding-top: 8px;
    }*/
}
.Shopping-ShoppingCart scroller,
.Shopping-ShoppingCart scroll-view[scroll-type="div"],
.Shopping-ShoppingCart scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 50px;
}
.Shopping-ShoppingCart.immersion scroller,
.Shopping-ShoppingCart.immersion scroll-view[scroll-type="div"],
.Shopping-ShoppingCart.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 65px;
}
.Shopping-ShoppingCart scroller,
.Shopping-ShoppingCart scroll-view[scroll-type="div"],
.Shopping-ShoppingCart scroll-view[scroll-type="iscroll"] scroller {
  padding-bottom: 100px;
}
.Shopping-ShoppingCart .page-pulldown {
  background-color: white;
  padding-top: 14px;
}
.Shopping-ShoppingCart bottom-bar {
  bottom: 50px;
}
.Shopping-ShoppingCart bottom-bar .container {
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
}
.Shopping-ShoppingCart [name='btn_remove'] {
  top: -28px;
  right: 4px;
  float: right;
  position: relative;
  font-size: 16px;
}
.Shopping-ShoppingCart .list-group-item input[type=checkbox],
.Shopping-ShoppingCart .settlement input[type=checkbox] {
  opacity: 0;
  position: relative;
  top: -4px;
}
.Shopping-ShoppingCart .list-group-item .icon-ok-sign,
.Shopping-ShoppingCart .settlement .icon-ok-sign {
  position: relative;
  top: -28px;
  left: -4px;
  font-size: 24px;
  color: #BF0705;
}
.Shopping-ShoppingCart .list-group-item .icon-circle-blank,
.Shopping-ShoppingCart .settlement .icon-circle-blank {
  position: relative;
  top: -28px;
  left: -4px;
  font-size: 24px;
  color: #777777;
}
.Shopping-ShoppingCart .list-group-item .icon,
.Shopping-ShoppingCart .settlement .icon {
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
.Shopping-ShoppingCart .list-group-item .icon label,
.Shopping-ShoppingCart .settlement .icon label {
  position: relative;
  top: 28px;
  width: 40px;
  padding-left: 14px;
}
.Shopping-ShoppingCart .list-group-item .pic,
.Shopping-ShoppingCart .settlement .pic {
  padding-right: 0;
  /*padding-top: 6px;*/
  text-align: left;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 36px;
  margin-top: -25px;
}
.Shopping-ShoppingCart .settlement .select-all .icon-ok-sign {
  top: 4px;
  left: -22px;
}
.Shopping-ShoppingCart .settlement .select-all .icon-circle-blank {
  top: 4px;
  left: -22px;
}
.Shopping-ShoppingCart .settlement .select-all .text {
  position: relative;
  left: -18px;
}
.Shopping-ShoppingCart .Reduce {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #6DB248;
}
.Shopping-ShoppingCart .Discount {
  width: 50px;
  height: 50px;
  padding-top: 8px;
  padding-left: 12px;
  margin-left: 8px;
  /*margin-top: 10px;*/
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: #F15353;
}
.Shopping-ShoppingCart .norecords .icon i {
  font-size: 110px;
  left: -4px;
}
