.Home-News scroller,
.Home-News scroll-view[scroll-type="div"],
.Home-News scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 50px;
}
.Home-News.immersion scroller,
.Home-News.immersion scroll-view[scroll-type="div"],
.Home-News.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 65px;
}
.Home-News .news img {
  height: auto;
  display: block;
  width: 100%;
}
.Home-News .news p {
  background-color: transparent !important;
  word-wrap: break-word;
}
.Home-News .news span {
  word-wrap: break-word;
}
