.User-Recharge scroller,
.User-Recharge scroll-view[scroll-type="div"],
.User-Recharge scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 60px;
}
.User-Recharge.immersion scroller,
.User-Recharge.immersion scroll-view[scroll-type="div"],
.User-Recharge.immersion scroll-view[scroll-type="iscroll"] scroller {
  padding-top: 75px;
}
