.Shopping-Evaluation .tabs {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1000;
}
.Shopping-Evaluation .tabs ul {
  border-bottom: 1px solid #777777;
  background-color: white;
  opacity: 0.9;
}
.Shopping-Evaluation .tabs ul li {
  width: 50%;
  float: left;
  text-align: center;
  height: 40px;
  padding-top: 10px;
}
.Shopping-Evaluation .tabs ul li.active {
  border-bottom: 2px solid #BF0705;
}
.Shopping-Evaluation .page-content {
  padding-top: 110px;
}
.Shopping-Evaluation .page-content .products .item .image {
  width: 80px;
  height: 80px;
}
.Shopping-Evaluation .page-content .products .item .name {
  margin-left: 100px;
  min-height: 60px;
}
.Shopping-Evaluation .page-content .products .item a {
  position: relative;
  bottom: 8px;
  border: 1px solid #BF0705;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  color: #BF0705;
}
.Shopping-Evaluation .page-content .products .item label {
  position: relative;
  bottom: 4px;
}
.Shopping-Evaluation .page-content .products hr {
  margin-top: 4px;
  margin-bottom: 14px;
}
.Shopping-Evaluation .norecords .icon i {
  top: 24px;
}
