<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="cookiePrefix" value="lsyy"/>
    <add key="shop_appid" value="7bbfa36c-8115-47ad-8d47-9e52b58e7efd"/>
    <add key="shop_secret" value="Ymt7uwVe"/>

    <!--<add key="cookiePrefix" value="lsmm"/>
    <add key="shop_appid" value="e628221d-b3f6-4382-a7ff-06e44967580a"/>
    <add key="shop_secret" value="pIHgKQsf"/>-->

    <!--<add key="siteServiceUrl" value="http://localhost:4048/"/>
    <add key="shopServiceUrl" value="http://localhost:4383/"/>
    <add key="weixinserviceurl" value="http://localhost:1325/"/>
    <add key="memberserviceurl" value="http://localhost:1881/"/>
    <add key="accountServiceUrl" value="http://localhost:21089/"/>-->

   <add key="siteserviceurl" value="http://shop.alinq.cn/userservices/site/"/>
    <add key="shopserviceurl" value="http://shop.alinq.cn/userservices/shop/"/>
    <add key="weixinserviceurl" value="http://shop.alinq.cn/userservices/weixin/"/>
    <add key="memberserviceurl" value="http://shop.alinq.cn/userservices/member/"/>
    <add key="accountserviceurl" value="http://shop.alinq.cn/userservices/account/"/>
    <!---->
    
    <add key="imageBaseUrl" value="http://shop.alinq.cn/AdminServices/Shop"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ShopCloud.Core.WeiXin.Properties.Settings.ShopCloudConnectionString"
         connectionString="Data Source=112.124.105.92,1433;Initial Catalog=shoutao;User ID=shoutao;Password=abwtshsk"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="message" type="System.Diagnostics.TextWriterTraceListener" initializeData="Messages.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <dependentAssembly>
      <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
      <bindingRedirect oldVersion="1.0.0.0-4.0.0.1" newVersion="4.0.0.0" />
    </dependentAssembly>
  </runtime>

</configuration>